@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-primary: #8a2be2; /* Purple */
}

body {
  font-family: 'Inter', sans-serif;
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.hover\:bg-primary:hover {
  background-color: var(--color-primary);
}

.hover\:text-primary:hover {
  color: var(--color-primary);
}